@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header ul {
  padding: 18px 0 22px;
  display: flex;
  justify-content: space-between;
  gap: 38px;
}
@media screen and (max-width: 1300px) {
  header ul {
    gap: 20px;
  }
}
@media screen and (max-width: 1110px) {
  header ul {
    gap: 10px;
  }
}
header ul li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(31, 31, 31);
  cursor: pointer;
}
header ul li a {
  color: rgb(31, 31, 31);
}
header .number a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: rgb(238, 37, 35);
}

.benefits,
.info {
  top: -200px;
  padding: 26px 36px 20px 28px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: rgb(255, 255, 255);
}
.benefits li:first-child,
.info li:first-child {
  padding-bottom: 9.5px;
}
.benefits li:last-child,
.info li:last-child {
  padding-top: 10.5px;
  border-top: 1px solid rgb(231, 231, 231);
}

.active {
  top: 64px;
}

.info li {
  padding-right: 84px;
}

.container {
  max-width: 1441px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

.banner {
  padding: 64px 0;
  background-image: url(../assets/image/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(248, 248, 248);
}
@media screen and (max-width: 768px) {
  .banner {
    background-position: 70% 0;
  }
}
.banner h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 130%;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 40px;
    line-height: 125%;
  }
}
@media screen and (max-width: 500px) {
  .banner h1 {
    font-size: 38px;
  }
}
.banner .button {
  margin-top: 40px;
  width: 290px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .banner .button {
    width: 260px;
  }
}

.services {
  padding: 64px 0;
}
@media screen and (max-width: 768px) {
  .services {
    padding-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .services {
    padding-top: 6px;
  }
}
.services h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .services h2 {
    margin-top: 54px;
  }
}
.services .services__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(242px, 440px));
  gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .services .services__items {
    grid-template-columns: repeat(2, minmax(200px, 334px));
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .services .services__items {
    grid-template-columns: repeat(1, minmax(200px, 390px));
    justify-content: center;
    gap: 30px;
  }
}
.services .services__items .services__items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  height: 535px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  .services .services__items .services__items__item {
    height: 527px;
  }
}
.services .services__items .services__items__item img {
  width: 100%;
}
.services .services__items .services__items__item h3 {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
@media screen and (max-width: 500px) {
  .services .services__items .services__items__item h3 {
    font-size: 28px;
  }
}
.services .services__items .services__items__item p {
  margin-top: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.services .services__items .services__items__item .services__items__item__price {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
@media screen and (max-width: 1100px) {
  .services .services__items .services__items__item .services__items__item__price {
    flex-direction: column;
    gap: 12px;
  }
}
.services .services__items .services__items__item .services__items__item__price div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.services .services__items .services__items__item .services__items__item__price div p {
  margin-top: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .services .services__items .services__items__item .services__items__item__price div p {
    font-size: 40px;
  }
}
.services .services__items .services__items__item .services__items__item__price div span p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 130.5%;
  position: relative;
}
.services .services__items .services__items__item .services__items__item__price div span p:last-child::before {
  content: "";
  width: 89%;
  height: 1px;
  background-color: black;
  position: absolute;
}
.services .services__items .services__items__item .services__items__item__price button {
  height: 48px;
  padding: 0 18.5px;
}
.services .services__items .services__items__item .services__items__item__price .services__items__item__price__from {
  margin-top: 14px;
  font-size: 24px;
}
.services .payment {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 86px;
  border-radius: 8px 0px 0px 8px;
  font-weight: 600;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .services .payment {
    width: 145px;
    height: 54px;
  }
  .services .payment span {
    display: none;
  }
}
.services .payment img {
  margin-left: 20px;
}

.button {
  border: none;
  border-radius: 8px;
  background: rgb(238, 37, 35);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button:hover {
  background: rgb(176, 31, 29);
}

/*# sourceMappingURL=style.css.map */
